<ion-header>
  <ion-toolbar>
    <ion-title>TMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  <ion-card *ngFor="let tender of tenders;">
    <ion-card-header>
      <ion-card-subtitle>{{ tender.company_name }}</ion-card-subtitle>
      <ion-card-title><strong>{{ tender.title }}</strong></ion-card-title>
    </ion-card-header>
  
    <ion-card-content text-wrap>
      {{ (tender.description | slice:0:400)}}
    </ion-card-content>
    <ion-item>
        <ion-button fill="outline" slot="end" (click)="openDetails(tender.public_id)">Read More</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
